{% extends "base.html" %}
{% block content %}
    <h1>Retweets containing {{ hashtag }}</h1>
    <div class="row">
        {% for tweet in tweets %}
            <div class="column-4">
                <div class="twitter-tweet">
                    <p class="user-name">{{tweet.user.name}}</p><p class="user-handle"> @{{tweet.user.screen_name}}</p>
                    <p class="tweet-text">{{tweet.text}}</p>
                    <p class="retweet">Retweets: {{ tweet.retweet_count }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<!--
<div><p>{{ tweet.user.screen_name }} tweeted: <b>{{ tweet.text }}</b></p></div>-->
